.pos-list {
    text-align: center;
}

.pos-list-header{
    margin-top:10px;
    margin-bottom: 0px;
}

.pos-list-header h4{
    font-weight: bold;
    font-size: 26px;
}

.title {
    text-align: center;
    font-size: 30px;
    background-color: #1467db;
    color:#fff;
}

.inline-buttons{
    display:flex;
    justify-content: center;
}

.inline-button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.separator{
    padding-bottom: 5px;
}

@media only screen and (max-width: 575px),(min-device-width: 575px) and (max-device-width: 575px) {
    .inline-buttons{
        padding: 10px 2px;
    }
    
}