.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}


@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

.card {
  background: #fff;
  font-size: 1em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.card .header{
  background: #152340;
  color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.card .body{
  text-align: center;
}

.dashboard {
  align-items: center;
  background: #fff;
  color: #036bfc;
  border-radius: 10px;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dashboard .text{
  color: #252525;
}

.dashboard .icon{
  font-size: 35px;
}


.card .button{
  background: #fff;
  color: #11101D;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  padding: 0.5em;
  transition: all 0.5s, height 0s;
}

.card .button:hover{
  background: #11101D;
  color: #fff;
  transition: all 0.5s, height 0s;
}

.card .filters{
  background: #345468;
  color: #f3f3f3;
  text-align: center;
  position: relative;
}

.card .register{
  background: #0867a6;
  color: #f3f3f3;
  text-align: center;
  position: relative;
}

.card .editing{
  background: #007527;
  color: #f3f3f3;
  text-align: center;
  position: relative;
}

.card .search-input{
  position: relative;
  margin-left: auto;
  margin-right: 10px;
}

.btnActions{
  position: relative;
  margin-left: auto;
  margin-right: 0px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content.is-open {
  padding: 20px;
  margin-left: 250px;
  transition: 0.5s;
  height: 100vh;
  overflow-x: scroll;
}

.content {
  padding: 20px;
  margin-left: 0px;
  height: 100vh;
  transition: 0.5s;
  width: 100%;
  
}

/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    ACTIONS STYLE
----------------------------------------------------- */
.actions{
  position: relative;
  font-family: sans-serif;
}
.actions .left{
  float:left;
}
.actions .right{
  float:right;
}

.noData{
  align-items: center;
  padding: 5px;
}

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px) {

  .content.is-open {
    overflow: hidden;
    margin-left: 100%;
    position: fixed;
  }
}


.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px;
  font-size: 12px;
}

.fl-table tbody tr:hover {
  background:#eeeeee;
  cursor: pointer;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.fl-modal-table {
  display: block;
  width: 100%;
}
.table-wrapper:before{
  content: "Scroll horizontally >";
  display: block;
  text-align: right;
  font-size: 11px;
  color: white;
  padding: 0 0 10px;
}
.fl-modal-table thead, .fl-modal-table tbody, .fl-modal-table thead th {
  display: block;
}
.fl-modal-table thead th:last-child{
  border-bottom: none;
}
.fl-modal-table thead {
  float: left;
}
.fl-modal-table tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}
.fl-modal-table td, .fl-modal-table th {
  padding: 20px .625em .625em .625em;
  height: 60px;
  vertical-align: middle;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  width: 120px;
  font-size: 13px;
  text-overflow: ellipsis;
  text-align: center;
  padding: 8px;
}
.fl-modal-table thead th {
  text-align: left;
  border-bottom: 1px solid #f7f7f9;
}
.fl-modal-table tbody tr {
  display: table-cell;
}
.fl-modal-table tbody tr:nth-child(odd) {
  background: none;
}
.fl-modal-table tr:nth-child(even) {
  background: transparent;
}
.fl-modal-table tr td:nth-child(odd) {
  border-right: 1px solid #E6E4E4;
}
.fl-modal-table tr td:nth-child(even) {
  border-right: 1px solid #E6E4E4;
}
.fl-modal-table tbody td {
  display: block;
  text-align: center;
}

.fl-modal-table tbody tr:hover {
background:#eeeeee;
cursor: pointer;
}
.fl-modal-table thead th {
  color: #ffffff;
  background: #324960;
}
.fl-modal-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}
/* Responsive */


@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 768px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }

  .fl-table tbody tr:hover {
    background:#eeeeee;
    cursor: pointer;
  }

  .noData{
    position: absolute;
    margin-top: -300px;
    margin-left: 50%;
  }
}
