.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.card-header{
  background: #345468;
  color: #f3f3f3;
  padding: 0.5em;
  padding-top: 0.8em;
}

.card-filters{
  background: #345468;
  color: #f3f3f3;
  text-align: center;
  position: relative;
}

.card-header-search-btn{
  position: relative;
  margin-left: 10px;
}

.card-header-search-input{
  position: relative;
  margin-left: auto;
  margin-right: 10px;
}

.btnActions{
  position: relative;
  margin-left: auto;
  margin-right: 0px;
}




/* ---------------------------------------------------
    BODY STYLE
----------------------------------------------------- */
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  padding: 6px 14px;
  z-index: 99;
  background: #11101D;
  color: #fff;
  transition: all 0.5s ease;
}

.sidebar .logo-details{
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-name{
  color: #fff;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  position: relative;
  padding: 0.5em;
}

.sidebar .button{
  text-align: center;
  position: relative;
}

.sidebar i{
  color: #fff;
  height: 50px;
  min-width: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar .nav-li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar .li-a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar .li-a:hover{
  background: #FFF;
}

.sidebar .li-a-links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar .li-a-links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar .li-a-links_name:hover,
.sidebar .li-a:hover{
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar .li-icon{
  padding: 3%;
  line-height: 5px;
  font-size: 15px;
  border-radius: 12px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  background: white;
  position: relative;
  min-height: 95vh;
  top: 0;
  left: 170px;
  width: calc(100% - 190px);
  transition: all 0.5s ease;
  z-index: 2;
  margin: 18px
}

@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }


  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 0.8em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #345468;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #345468;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #345468;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #1e2020;
}